<!DOCTYPE html>
<html>
  <head>
    <title>CoLiS-Language Covering</title>

    <meta charset="utf-8" />
    <style type="text/css">
      body {
	  width: 80%;
	  margin: auto;
      }
      table {
	  width: 100%;
      }
      table#summary tbody {
	  height: 500px;
      }
      table#summary td {
	  text-align: center;
      }
      table#summary td.success {
	  background: #afa;
      }
      table#summary td.rejected {
          background: #aaf;
      }
      table#summary td.error {
	  background: #faa;
      }
      th, table#summary td.empty {
	  background: #ddd;
      }
      table#details td {
	  vertical-align: top;
	  text-align: left;
      }
      table#details tbody {
	  border-bottom: 2px solid #ddd;
      }
    </style>
  </head>
  <body>
    <h1>CoLiS-Language Covering</h1>

    <dl>
      <dt>Date</dt>
      <dd>{{infos.date}}</dd>

      <dt>Number of runs</dt>
      <dd>{{infos.total}}</dd>

      <dt>CPU timeout</dt>
      <dd>{{parameters.cpu_timeout}}</dd>

      <dt>Timeout</dt>
      <dd>{{parameters.timeout}}s</dd>

      <dt>Workers</dt>
      <dd>{{infos.workers}}</dd>

      <dt>Duration</dt>
      <dd>{{infos.duration}}s</dd>
    </dl>

    <h2>Summary</h2>

    <table id="summary">
      <thead>
	<tr>
	  <th>Parsing</th>
	  <th>Conversion</th>
	  <th>Execution</th>
	  <th>Result</th>
	</tr>
      </thead>

      <tbody>
	<!-- Success to verify a clean script -->
	<tr style="height: {{verification.success.percentage_total}}%;">
	  <td class="success" rowspan="6">
	    Success<br/>
	    {{parsing.success.number}}
	    ({{parsing.success.percentage_total}}% of all;
	    {{parsing.success.percentage_previous}}% of expected runs)
	  </td>
	  <td class="success" rowspan="5">
	    Success<br/>
	    {{conversion.success.number}}
	    ({{conversion.success.percentage_total}}% of all;
	    {{conversion.success.percentage_previous}}% of parsed)
	  </td>
	  <td class="success" rowspan="3">
	    Success<br/>
	    {{execution.success.number}}
	    ({{execution.success.percentage_total}}% of all;
	    {{execution.success.percentage_previous}}% of converted)
	  </td>
	  <td class="success" rowspan="1">
	    <a href="#verification-success">Success</a><br/>
	    {{verification.success.number}}
	    ({{verification.success.percentage_total}}% of all;
	    {{verification.success.percentage_previous}}% of executed)
	  </td>
	</tr>

	<!-- Success to verify a wrong script -->
	<tr style="height: {{verification.error.percentage_total}}%;">
	  <td class="rejected">
	    <a href="#verification-error">Error</a><br/>
	    {{verification.error.number}}
	    ({{verification.error.percentage_total}}% of all;
	    {{verification.error.percentage_previous}}% of executed)
	  </td>
	</tr>

	<!-- Incomplete verification -->
	<tr style="height: {{verification.incomplete.percentage_total}}%;">
	  <td class="error">
	    <a href="#verification-incomplete">Incomplete</a><br/>
	    {{verification.incomplete.number}}
	    ({{verification.incomplete.percentage_total}}% of all;
	    {{verification.incomplete.percentage_previous}}% of executed)
	  </td>
	</tr>

	<!-- Timeout during execution -->
	<tr style="height: {{execution.timeout.percentage_total}}%;">
	  <td class="error">
	    <a href="#execution-timeout">Timeout</a><br/>
	    {{execution.timeout.number}}
	    ({{execution.timeout.percentage_total}}% of all;
	    {{execution.timeout.percentage_previous}}% of converted)
	  </td>
	  <td class="empty"></td>
	</tr>

	<!-- Error during execution -->
	<tr style="height: {{execution.error.percentage_total}}%;">
	  <td class="error">
	    <a href="#execution-error">Error</a><br/>
	    {{execution.error.number}}
	    ({{execution.error.percentage_total}}% of all;
	    {{execution.error.percentage_previous}}% of converted)
	  </td>
	  <td class="empty"></td>
	</tr>

	<!-- Error during conversion -->
	<tr style="height: {{conversion.error.percentage_total}}%;">
	  <td class="error">
	    <a href="#conversion-error">Error</a><br/>
	    {{conversion.error.number}}
	    ({{conversion.error.percentage_total}}% of all;
	    {{conversion.error.percentage_previous}}% of parsed)
	  </td>
	  <td class="empty" colspan="2"></td>
	</tr>

	<!-- Error during parsing -->
	<tr style="height: {{parsing.error.percentage_total}}%;">
	  <td class="rejected">
	    <a href="#parsing-error">Error</a><br/>
	    {{parsing.error.number}}
	    ({{parsing.error.percentage_total}}% of all;
	    {{parsing.error.percentage_previous}}% of expected runs)
	  </td>
	  <td class="empty" colspan="3"></td>
	</tr>

	<!-- Unexpected error -->
	<tr style="height: {{other_error.percentage_total}}%;">
	  <td class="error" colspan="4">
	    <a href="#unexpected-error">Unexpected error</a><br/>
	    {{other_error.number}}
	    ({{other_error.percentage_total}}% of all)
	  </td>
	</tr>
      </tbody>
    </table>

    <h2>Details</h2>

    <table id="details">
      <thead>
	<tr>
	  <th>Status</th>
	  <th># files</th>
	  <th>Output</th>
	  <th>Error</th>
	  <th>Details</th>
	</tr>
      </thead>

      <tbody id="unexpected-error">
	{{#other_error.groups}}
	<tr>
	  <td>Unexpected error<br/>{{status}}</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/other_error.groups}}
      </tbody>

      <tbody id="parsing-error">
	{{#parsing.error.groups}}
	<tr>
	  <td>Parsing error</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/parsing.error.groups}}
      </tbody>

      <tbody id="conversion-error">
	{{#conversion.error.groups}}
	<tr>
	  <td>Conversion error</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/conversion.error.groups}}
      </tbody>

      <tbody id="execution-error">
	{{#execution.error.groups}}
	<tr>
	  <td>Execution error</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/execution.error.groups}}
      </tbody>

      <tbody id="execution-timeout">
	{{#execution.timeout.groups}}
	<tr>
	  <td>Execution timeout</td>
	  <td>{{number}}</td>
	  <td class="verbatim"><pre>{{short_stdout}}</pre></td>
	  <td class="verbatim"><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/execution.timeout.groups}}
      </tbody>

      <tbody id="verification-error">
	{{#verification.error.groups}}
	<tr>
	  <td>Verification error</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/verification.error.groups}}
      </tbody>

      <tbody id="verification-incomplete">
	{{#verification.incomplete.groups}}
	<tr>
	  <td>Incomplete verification</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/verification.incomplete.groups}}
      </tbody>

      <tbody id="verification-success">
	{{#verification.success.groups}}
	<tr>
	  <td>Verification success</td>
	  <td>{{number}}</td>
	  <td><pre>{{short_stdout}}</pre></td>
	  <td><pre>{{short_stderr}}</pre></td>
	  <td><a href="group-{{id}}.html">Details</a></td>
	</tr>
	{{/verification.success.groups}}
      </tbody>
    </table>
  </body>
</html>
